<div class="col-lg-3 col-sm-6">
  <div class="card" title="{{device.name}}">
      <div class="content">
          <div class="row">
              <div class="col-xs-5">
                  <div class="icon-big {{device.iconColor}} text-center">
                      <i class="{{device.iconClass}}"></i>
                  </div>
              </div>
              <div class="col-xs-7">
                  <div class="numbers">
                      <p class="device-name">{{device.name}}</p>
                      {{device.payload.val}}
                  </div>
              </div>
          </div>
          <div class="footer">
              <hr>
              <div class="stats">
                  <i class="ti-calendar"></i> {{device.lastChangeString}}
              </div>
          </div>
      </div>
  </div>
</div>